# API Configuration
EXPO_PUBLIC_API_BASE_URL=https://api.domicop.com

# Paystack Configuration
# NOTE: Use PUBLIC keys (pk_test_*) in client-side code only
# SECRET keys (sk_test_*) should only be used server-side
EXPO_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_3191ec56dc674579cfabfd3ac88e97c1c71b851f
EXPO_PUBLIC_PAYSTACK_SECRET_KEY=sk_test_e3c23e2cacc15e57edcc2e6f4fd39b1123ac8644
